﻿            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a href="../index.html"><i class="fa fa-dashboard fa-fw"></i> Početna </a>
                        </li>
						<li>
                            <a href="0/0.html"><i class="fa fa-files-o fa-fw"></i> Digitron </a>
                        </li>
						<li>
                            <a href="1/1.html"><i class="fa fa-files-o fa-fw"></i> Zadatak 1 </a>
                        </li>
						<li>
                            <a href="2/2.html"><i class="fa fa-files-o fa-fw"></i> Zadatak 2 </a>
                        </li>
                        <li>
                            <a href="02/02.html"><i class="fa fa-files-o fa-fw"></i> Moj broj </a>
                        </li>
						<li>
                            <a href="3/3.html"><i class="fa fa-files-o fa-fw"></i> Zadatak 3 </a>
                        </li>
                        <li>
                            <a href="4/4.html"> <i class="fa fa-files-o fa-fw"> </i> Šifrovanje poruka </a>
                        </li>
						<li>
                            <a href="5/5.html"> <i class="fa fa-files-o fa-fw"> </i> Pogađanje reči </a>
                        </li>
                         <li>
                             <a href="8/8.html"> <i class="fa fa-files-o fa-fw"> </i> Kalkulator kalorija </a>
                        </li>
						<li>
                            <a href="11/11.html"> <i class="fa fa-files-o fa-fw"> </i> Pogodi broj </a>
                        </li> 
                        <li>
                            <a href="12/12.html"> <i class="fa fa-files-o fa-fw"> </i> Minice </a>
                        </li> 
                        <li>
                            <a href="13/13.html"> <i class="fa fa-files-o fa-fw"> </i> Krediti za automobile </a>
                        </li> 
                        </li>
						<li>
                            <a href="14/14.html"><i class="fa fa-files-o fa-fw"></i> Asocijacije </a>
                        </li>
						<li>
                            <a href="16/16.html"><i class="fa fa-files-o fa-fw"></i> Igra memorije  </a>
                        </li>
						<li>
                            <a href="18/18.html"><i class="fa fa-files-o fa-fw"></i> Aparat za kafu </a>
	                    </li>
                        <li>
                            <a href="20/20.html"><i class="fa fa-files-o fa-fw"></i> Zmijica </a>
                        </li>
                            
                            <li>
                            <a href="22/22.html"><i class="fa fa-files-o fa-fw"></i> Uhvati boju </a>
                        </li>
							
						<li>
	                         <a href="23/23.html"> <i class="fa fa-files-o fa-fw"> </i> Pobedi Cigle</a>                        
					    </li>	
				        <li>
						     <a href="24/24.html"> <i class="fa fa-files-o fa-fw"> </i> Kalendar ciklusa </a>
						</li>
                        <li>
                            <a href="25/25.html"> <i class="fa fa-files-o fa-fw"> </i> Skočko </a>
                        </li>
                        
                        <li>
                     <a href="28/28.html"> <i class="fa fa-files-o fa-fw"> </i> Uhvati zeku</a>
                        </li>

                     <a href="0/0.html"> <i class="fa fa-files-o fa-fw"> </i> Konverzija valuta </a>
                        </li>
						<li>
                            <a href="3/03.html"> <i class="fa fa-files-o fa-fw"> </i> Apoteka </a>

                        </li>

<<<<<<< HEAD
                        <li>
                            <a href="31/31.html"> <i class="fa fa-files-o fa-fw"> </i> Igrica - Pet u nizu </a>
                        </li>
<li>
                            <a href="32/32.html"><i class="fa fa-files-o fa-fw"></i> Tenis </a>
                        </li>      
                  
				<li>
					<a href="33/33.html"> <i class="fa fa-files-o fa-fw"> </i> MessageBox kroz primere </a>
				</li>

                         <li>
	                                 <a href="35/35.html"> <i class="fa fa-files-o fa-fw"> </i> Hiragana </a>
                         </li>
                          <li>
	                                 <a href="36/36.html"> <i class="fa fa-files-o fa-fw"> </i> Kanji-pocetnicki nivo </a>
                         </li>
=======
						 <li>
	              <a href="7/7.html"> <i class="fa fa-files-o fa-fw"> </i> Igrica(kvadrat sa brojevima) </a>
                  </li>
				  <li>
                            <a href="21/21.html"><i class="fa fa-dashboard fa-fw"></i> Povrsina geometrijskih figura </a>
                        </li>
						<li>
<<<<<<< HEAD
=======
 <li>
	<a href="17/17.html"> <i class="fa fa-files-o fa-fw"> </i> Japanski džepni rečnik </a>
</li>
                        
>>>>>>> 6ec6ec4f5da8084bacfe60b346c973adab6ae60e
>>>>>>> 3666bec9f899749e74ae3f74b82815306b6d6d0a

            <li>
                        	<a href="10/10.html"> <i class="fa fa-files-o fa-fw"> </i> Bankomat </a>
                        </li>
						            <li>
                        	<a href="27/27.html"> <i class="fa fa-files-o fa-fw"> </i> Pakman </a>
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
